// Globals
// @import '../../node_modules/bootstrap/scss/_functions.scss';
// @import '../../node_modules/bootstrap/scss/_variables.scss';
// @import '../../node_modules/bootstrap/scss/_mixins.scss';

// @import '../../node_modules/bootstrap/scss/_buttons.scss';

@import '../global/modal.scss';

.btn1 {
  padding: 0.8em;
  border-radius: 5px;
  border: 1px solid #014e92;
  cursor: pointer;
}

.btn {
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

.primary {
  background-color: #0275d8;
  color: #fff;

  &:hover {
    background-color: #014e92;
  }
}

.base-panel {
  .head-panel {
    background: #32616B;
    padding: 1em;
    color: #FFFFFF;

    .close-btn {
      font-size: 20px;
      color: #fff;
      float: right;
      padding-right: 0;
      font-weight: 600;
      line-height: 0.9;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #EAAB00;
      }
    }
  }

  .body-panel {
    background: #EAEAE9;
    padding: 1em;

    h4 {
      color: #487380;
    }

    .sub-body-panel {
      background: #E0E0E1;
      padding: 1em;
      border: 1px solid #d1d1d1;
    }
  }

  .col-form-label {
    color: #878A8E;
    font-weight: bold;
  }

 .tc {
    color: #000000;

    .terms {
      color:#EAAB00;
    }
  }

  .h4-title {
    color: #487380;
  }
}


