// Globals
// @import '../../node_modules/bootstrap/scss/_functions.scss';
// @import '../../node_modules/bootstrap/scss/_variables.scss';
// @import '../../node_modules/bootstrap/scss/_mixins.scss';

// @import '../../node_modules/bootstrap/scss/_buttons.scss';

.btn1 {
  padding: 0.8em;
  border-radius: 5px;
  border: 1px solid #014e92;
  cursor: pointer;
}

.primary {
  background-color: #0275d8;
  color: #fff;

  &:hover {
    background-color: #014e92;
  }
}

.base-panel {
  .head-panel {
    background: #32616B;
    padding: 1em;
    color: #FFFFFF;
  }

  .body-panel {
    background: #EAEAE9;
    padding: 1em;

    h4 {
      color: #487380;
    }

    .sub-body-panel {
      background: #E0E0E1;
      padding: 1em;
    }
  }

  .col-form-label {
    color: #878A8E;
    font-weight: bold;
  }

 .tc {
    color: #000000;

    .terms {
      color:#EABE53;
    }
  }

  .h4-title {
    color: #487380;
  }
}
